<master>
  <name>{{ jenkins_master_name }}</name>
  <description>{{ jenkins_master_description | default('Jenkins master managed by Ansible') }}</description>
  <port>{{ jenkins_master_port | default(8080) }}</port>
  <numExecutors>{{ jenkins_master_executors | default(2) }}</numExecutors>
  <mode>{{ jenkins_master_mode | default('NORMAL') }}</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher"/>
  <label>{{ jenkins_master_labels | default('ansible-master') }}</label>
  <nodeProperties/>
</master>
